/*
  Author: Carlos Servín Romero
  email: carlos@servin.mx, cservinmx@gmail.com
*/

  .inner-right-floats{width: 85%;}
  .backbutton{font-family: Verdana,sans-serif; size: 15px;  font-weight: bold;}
  .divgauge {
          border: solid 1px blue;
          margin: auto;
          width: 20vw;
          height: 20vw;
          box-sizing: border-box;
  }

  .main{
    /*border: solid 1px pink;*/
    margin: auto;
    max-width: 1266px;
    min-height: auto;
    font-family: Verdana,sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
  }

  .main h1{
          color:#ff852c;
          font-family: Arial,sans-serif;
          /*font-size: 26px;*/
  }

  .main label, .main p, .main .chk, .main a {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    /*font-size: 15.24pt;*/
    font-size: 15px;
  }

  .main .price_title{
    font-family: Verdana,sans-serif;
    /*font-size: 13.84pt;*/
    font-size: 13px;
  }
  .main .price{
    font-family: Verdana,sans-serif;
    /*font-size: 21.8pt;*/
    font-size: 21px;
  }
  .main .price_iva{
    font-family: Verdana,sans-serif;
    /*font-size: 14pt;*/
    font-size: 14px;
    color: #1d2e5e;
  }
.main select{ /*font-size: 15.24pt;*/ font-size: 15px; }
  .fiz{
    width: 41.77%;
    min-height: auto;
   /*border: solid 1px green; */
  }
  .fiz2{
    width: 41.77%;
    margin: auto;
    min-height: auto;
    border: solid 1px green; /**/
    float:left;
  }
  .fcen{
    width: 17.75%;
    min-width: 80px;
    min-height: 2px;
    /*border: solid 1px black;*/
  }
  .fder{
    width: 39.5%;
    min-height: auto;
    /*border: solid 1px red;*/
  }
  .cgray{background: #f2f2f2;}
  .cwhite{background: #fff;}
  .compareclose{
    background: url('../img/opc3.png');
    height: 49px;
    width: 238px;
    border: none;
  /*  border: solid 1px purple;
    margin-top: -1px;*/
    float: right;
    margin-right: 120px;
  }
  #comparar{text-decoration: none; color: #FFF;}
  #tabs{display: none;}
  #divmodelo{
    float:right;
    width: 40.5%;
    padding-right: 130px;
    /*border: solid 1px purple;*/
  }
  #botones_end{margin-top: 40px;}
  .btt{
        font-family: Verdana,sans-serif;
        /*font-size: 14pt;*/
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
      }
  .main .btt a:hover {text-decoration: none;}
  .blue{  background-color: #1d2e5e;
          width: 182px;
          padding: 7px 0;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
  .orange{
          background-color: #ed5505;
          width: 319px;
          padding: 7px 0;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
  .botones_end{text-align: center;}
  .prebut{margin: 0 auto; text-align: center;}
  #prebut2{display:none;}
  .dimg img{
    width: 100%;
    margin: auto;
    height: auto;
    max-width: 500px;
  }
  .space10{height: 10px;}
  .space20{height: 20px;}
  .space30{height: 36px;}
  .vspase20{width: 20px;}
  .vspase{width: 100px;}
  .inlines{white-space:nowrap; }
  .float-left{
    float: left;
  }
  .title{
    margin: auto;
    font-family: Arial,sans-serif;
    /*font-size: 26.75pt;*/
    font-size: 26px;
    text-align: center;
  }
  .selects{
    border: solid 2px #1c325c;
    background-color: #f2f2f2;
    width: 200px;
    height: 40px;
    padding: 1px 25px 1px 5px;
    cursor: pointer;
    float: right;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
     background: url(../img/selectbutton.jpg) no-repeat right #f2f2f2;
     text-align: center;
  }
  .selects:focus{  outline: none !important;
    border-color: #1c325c; box-shadow: 0 0 1px #1c325c;}
.selects option{
  text-align: center;
}
  .cearboth{clear: both;}
  .chk input[type="checkbox"] { display: none; }
  .chk input[type="checkbox"] + label span {
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	vertical-align: middle;
  	background: url(../img/unchecked.jpg);
  	background-size: cover;
  	cursor: pointer;
  }
  .chk input[type="checkbox"]:checked + label span {
  	background: url(../img/checked.jpg);
  	background-size: cover;
  }

  .chk2 input[type="checkbox"] {
  	display: none;

  }

  .chk2 input[type="checkbox"] + label span {
  	display: inline-block;
  	width: 20px;
  	height: 20px;
  	margin: -2px 4px 0 0;
  	vertical-align: middle;
  	background: url(../img/unchecked.jpg);
  	background-size: cover;
  	cursor: pointer;
  }
  .chk2 input[type="checkbox"]:checked + label span {
  	background: url(../img/checked.jpg);
  	background-size: cover;
  }


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
.main{ padding: 0 20px 0 20px;}

}

/****  TABS Solo movil *******/
/* Style the tab */
.tab {
  width: 100%
 overflow: hidden;
}

.tab div.noactive{
  float: left;
  background: url('../img/pestana2.png');
  cursor: pointer;
  width: 177px;
  height:71px;
  font-family: Verdana,sans-serif;
  font-weight: bold;
  text-align: center;
  size: 17px;
  border: none;
}


/* Create an active/current tablink class */
.tab div.active{
  float: left;
  background: url('../img/pestana1.png');
  width: 174px;
  height:71px;
  font-family: Verdana,sans-serif;
  font-weight: bold;
  text-align: center;
  size: 17px;
  border: none;
  color: #FFF;
  cursor: pointer;
}
.btitle{margin: 25px 25px;}

.closebutt{
  width: 26px;
  height:26px;
  background: url('../img/close.png');
  margin: 5px 5px 5px 0;
  float: right;
  cursor: pointer;
}

.tab button.active {
background: url('../img/pestana1.png');
width: 174px;
height:71px;
border: none;
color: #FFF;
}

/* Style the tab content */
.tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
}

button.tabnew{
  background: url('../img/pestana3.png');
  width: 70px;
  height:71px;
  border: none;
}

@media only screen and (max-width: 540px) {

.tab div.active{
    background: url('../img/pestana1_113.png');
    width: 113px;
    height:46px;
    font-size: 12px;
  }

  .tab button.active{
      background: url('../img/pestana1_113.png');
      width: 113px;
      height:46px;
      font-size: 12px;
    }

    button.tabnew{
      background: url('../img/pestana3_113.png');
      width: 45px;
      height:46px;
    }

    .tab div.noactive{
      background: url('../img/pestana2_113.png');
      width: 113px;
      height:46px;
      font-size: 12px;
    }

    .btitle{margin: 15px 15px;}
}
/***** *********/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .inner-right-floats{width: 100%; text-align: left;}
  .main{ padding: 0 20px 0 20px;}
  .fcen{display: none;}
  .fiz{width: 100%;}
  .fder{width: 100%;}
  .botones_end{width: 100%;}
  .selects{text-align: left;width:150px; }
  label select{width: 80%;}
  .fcen2{display: none;}
  .dimg{
    text-align: center;
    margin: 0 auto;
    height: auto;

  }
  #tabs{display: inline;}
  #prebut{display:none;}
  #prebut2, #op2-prebut2, #op3-prebut2{display: inline;}
  #divmodelo{width: 100%; margin: 0 auto; text-align: center;}
  #botones_end{clear: both; width: 370px; margin: auto;}
  #divmodelo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 192px 10px 0px;
      }
  #rightbutt, #depsgar{
    /*  width: 80%;*/
      margin: 0 auto;
      /*text-align: center;*/
      padding: 0 0 10px 10px;
    }
    #divimg{
      width: 100%;
        margin: 0 auto;
        text-align: center;
      }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .inner-right-floats{width: 100%;}
  .main{ padding: 0 20px 0 20px;}
  .main h1{font-size: 39.9pt;}
  .main label, .main p, .main .chk, .main a { font-size: 18.85pt; }
  .main .price{ font-size: 18px; }
  .fcen{display: none;}
  .fiz{width: 100%;}
  .fder{width: 100%;}
  .botones_end{width: 100%;}
  .selects{text-align: left;width:150px; }
  .fcen2{display: none;}
  #prebut{display:none;}
  #prebut2, #op2-prebut2, #op3-prebut2{display: inline;}
  #divmodelo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 192px 10px 10px;
      }

  #botones_end{ width: 100%; margin: 0 auto;}
  #rightbutt, #depsgar{
      width: 100%;
      margin: 0 auto;
      text-align: left;
      padding: 0 30px 10px 10px;
    }

    #divimg{
      /*  width: 80%;*/
        margin: 0 auto;
        text-align: left;
        padding: 0 10px 10px 10px;
      }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .main{max-width: 400px;  overflow-x: hidden;}
  .inner-right-floats{width: 100%;}
  .main{ padding: 0 20px 0 20px;}
  .main h1{font-size: 26px;}
  .main label, .main p, .main .chk, .main a { font-size: 16px; }
  .main .price{ font-size: 18px; }
  .fcen{display: none;}
  .fiz{width: 100%;}
  .fder{width: 100%;}
  .botones_end{width: 100%;}
  .selects{text-align: left;width:150px; }
  .fcen2{display: none;}
  #prebut{display:none;}
  #prebut2, #op2-prebut2, #op3-prebut2{display: inline;}
  #divmodelo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 80px 10px 10px;
      }

  #botones_end{ width: 100%; margin: 0 auto;}
  #rightbutt, #depsgar{
      width: 100%;
      margin: 0 auto;
      text-align: left;
      padding: 0 30px 10px 10px;
    }

    #divimg{
        margin: 0 auto;
        text-align: center;
        padding: 0 10px 10px 10px;
      }

}
