/*
  Author: Carlos Servín Romero
  email: carlos@servin.mx, cservinmx@gmail.com
*/
html{
  font-family: Verdana,sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  color: #1c325c;
}
h1{color:#ff852c;}
h2{color:#ff852c;}
h3{color:#ff852c;}
label{margin-top: 15px;}

.divgauge {
      /*  position: a;*/
        border: solid 1px blue;
        margin: auto;
        width: 20vw;
        height: 20vw;
        box-sizing: border-box;
}
.main{
/*  background-color: #f2f2f2;*/
  margin: auto;
  max-width: 1100px;
  min-height: auto;
  /*border: solid 1px pink;*/
}
.main label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}
.fiz{
  width: 45%;
  min-height: auto;
  /*border: solid 1px green; */
}
.fiz2{
  width: 45%;
  margin: auto;
  min-height: auto;
  /*border: solid 1px green; */
  float:left;
}
.fcen{
  width: 10%;
  min-width: 80px;
  min-height: 2px;
  /*border: solid 1px black;*/
}
.fcen2{
  float:left;
  width: 10%;
  min-width: 80px;
/*  min-height: 190px;*/
  /*border: solid 1px black;*/
}
.fder{
  width: 45%;
  min-height: auto;
  /*border: solid 1px red;*/
}
#divmodelo{
  float:right;
  width: 45%;
/*  border: solid 1px purple;*/
}
#botones_end{margin-top: -80px;}
.botones_end{text-align: center;}

.dimg img{
  width: 100%;
  margin: auto;
  height: auto;
  max-width: 500px;
}
.space10{height: 10px;}
.inlines{white-space:nowrap;  text-align: center;}
.floats{
  float: left;
}
.title{
  margin: auto;
  font-family: Arial,sans-serif;
  font-size: 26.75pt;
  text-align: center;
}
.selects{
  border: solid 2px #1c325c;
  background-color: #f2f2f2;
  width: 300px;
/*  height: 40px;*/
  float: right;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
   background: url(../img/selectbutton.jpg) no-repeat right #f2f2f2;
}


.cearboth{
  clear: both;
}
/****/
.chk input[type="checkbox"] {
	display: none;
}
.chk input[type="checkbox"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../img/unchecked.jpg);
	background-size: cover;
	cursor: pointer;
}
.chk input[type="checkbox"]:checked + label span {
	background: url(../img/checked.jpg);
	background-size: cover;
}

.chk2 input[type="checkbox"] {
	display: none;
}

.chk2 input[type="checkbox"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(../img/unchecked.jpg);
	background-size: cover;
	cursor: pointer;
}
.chk2 input[type="checkbox"]:checked + label span {
	background: url(../img/checked.jpg);
	background-size: cover;
}

/***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (max-width: 992px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .fcen{display: none;}
  .fiz{width: 100%;}
  .fder{width: 100%;}
  .botones_end{width: 100%;}
  .selects{text-align: left;width:150px; }
  label select{width: 80%;}
  .fcen2{display: none;}
  #divmodelo{width: 100%; margin: 0 auto; text-align: center;}
  .fiz2 #botones_end{clear: both; width: 370px; margin: auto;}
  #divmodelo{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 0 30px 10px 0px;
      }
  #rightbutt, #depsgar, #prebut, #divimg{
    /*  width: 80%;*/
      margin: 0 auto;
      text-align: center;
      padding: 0 30px 10px 10px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fcen{display: none;}
  .fiz{width: 100%;}
  .fder{width: 100%;}
  .botones_end{width: 100%;}
  .selects{text-align: left;width:150px; }
  .fcen2{display: none;}
  #divmodelo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 50px 10px 10px;
      }

  .fiz2 #botones_end{clear: both; width: 100%; margin: auto;}
  #rightbutt, #depsgar, #prebut{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 30px 10px 10px;
    }

    #divimg{
      /*  width: 80%;*/
        margin: 0 auto;
        text-align: center;
        padding: 0 10px 10px 10px;
      }
}

/***********/
